<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autohaendler Mechaniker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>

<h1 class="title">Neues Ersatzteil Kaufen</h1>

<div class="row">
    <form class="col s12" id="form-data" method="post" onsubmit="return onSubmit(this)">
        <div class="row">
            <div class="input-field col s6">
                <input name="partType" required="required" id="partType" type="text" class="validate">
                <label for="partType">Typ</label>
            </div>
            <div class="input-field col s6">
                <input name="description" required="required" id="description" type="text" class="validate">
                <label for="description">Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input name="amountStored" required="required" id="amountStored" type="number" class="validate">
                <label for="amountStored">Lagerstand</label>
            </div>
        </div>

        <button class="btn waves-effect waves-light" type="submit">Fertig</button>
    </form>
</div>

<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2022 HTL Leonding
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/script.js"></script>
<script>

    function onSubmit( form ){
        var payload = getFormData($(form));

        $.ajax({
            method:"POST",
            url:"/api/part",
            data: JSON.stringify(payload),
            contentType: 'application/json',
            success: function(data) {
                console.log(data);
                window.location.replace("/part/list");
            }.bind(this),
            error: function(xhr, status, err) {
                window.location.replace("/error/msg=" + encodeURIComponent( xhr.responseText));
            }.bind(this)
        });

        return false;
    }

</script>
</body>
</html>