<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autohaendler Mechaniker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>

    <h1 class="title">KFZ Liste</h1>

    <div class="row" style="margin-right: 100px; margin-left: 100px;">

        {#for vehicle in vehicles}
        <div class="col" style="margin-right: 50px;">
            <h5>{vehicle.brand} ({vehicle.constructionPerYear})</h5>
            <p>HP: {vehicle.horsePower}</p>
            <p>Preis pro Stunde: {vehicle.pricePerHour} €</p>
            <a href="/vehicle/info/{vehicle.id}">Mehr dazu</a>
        </div>
        {/for}
    </div>

    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2022 HTL Leonding
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/script.js"></script>
</body>
</html>