<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autohaendler Mechaniker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>

<h1 class="title">KFZ verkaufen</h1>

<div style="margin-left: 100px; margin-right: 100px;">
    <form id="form-data" method="post" onsubmit="return onSubmit(this)">
        <div class="row">
            <div class="input-field col s12">
                <select name="vehicleId" id="vehicles">
                    <option value="" disabled selected>KFZ auswählen</option>
                    {#for vehicle in vehicles}
                    <option value="{vehicle.id}">{vehicle.brand} ({vehicle.constructionPerYear})</option>
                    {/for}
                </select>
                <label for="vehicles">KFZ</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <select name="ownerId" id="ownerId">
                    <option value="" disabled selected>Käufer auswählen</option>
                    {#for person in people}
                    <option value="{person.svNr}">{person.firstName} {person.lastName}</option>
                    {/for}
                </select>
                <label for="ownerId">Käufer</label>
            </div>
        </div>

        <button class="btn waves-effect waves-light" type="submit">Fertig</button>
    </form>
</div>
<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2022 HTL Leonding
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/script.js"></script>
<script>


    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {});
    });

    function onSubmit( form ){
        var payload = getFormData($(form));

        console.log(payload);

        $.ajax({
            method:"POST",
            url:"/api/vehicleTransfer",
            data: JSON.stringify(payload),
            contentType: 'application/json',
            success: function(data) {
                window.location.replace("/vehicle/list");
            }.bind(this),
            error: function(xhr, status, err) {
                window.location.replace("/error/msg=Unknown");
            }.bind(this)
        });

        return false;
    }

</script>
</body>
</html>