body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.title {
    align-self:center;
    margin-bottom: 50px;
}

.content-row {
    width: 90%;
}

.sub-title {
    margin-bottom: 20px;
}

a {
    margin-right: 50px;
}

.page-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}